@import "tailwindcss";

@theme {
  --color-primary-dark-green: #1c5f21;
  --color-primary-light-green: #4daf51;
  --color-secondary-soft-green: #e8f5e9;
  
  --font-cairo: var(--font-cairo), sans-serif;
  --font-tajawal: var(--font-tajawal), sans-serif;
  --font-plex-arabic: var(--font-plex-arabic), sans-serif;
  
  --font-sans: var(--font-cairo), sans-serif;
}
